In [1]:
import pandas
df = pandas.read_csv('data/oil-tankers.csv')

In [2]:
from statsmodels.formula.api import ols
regression = ols(formula="DW ~ GT", data=df).fit()
regression.params

Intercept   -2871.031171
GT              1.980988
dtype: float64

In [3]:
regression.summary()

<table class="simpletable">
<caption>OLS Regression Results</caption>
<tr>
  <th>Dep. Variable:</th>           <td>DW</td>        <th>  R-squared:         </th> <td>   0.962</td>
</tr>
<tr>
  <th>Model:</th>                   <td>OLS</td>       <th>  Adj. R-squared:    </th> <td>   0.962</td>
</tr>
<tr>
  <th>Method:</th>             <td>Least Squares</td>  <th>  F-statistic:       </th> <td>5.733e+04</td>
</tr>
<tr>
  <th>Date:</th>             <td>Tue, 18 Oct 2016</td> <th>  Prob (F-statistic):</th>  <td>  0.00</td>
</tr>
<tr>
  <th>Time:</th>                 <td>15:46:59</td>     <th>  Log-Likelihood:    </th> <td> -25250.</td>
</tr>
<tr>
  <th>No. Observations:</th>      <td>  2295</td>      <th>  AIC:               </th> <td>5.050e+04</td>
</tr>
<tr>
  <th>Df Residuals:</th>          <td>  2293</td>      <th>  BIC:               </th> <td>5.051e+04</td>
</tr>
<tr>
  <th>Df Model:</th>              <td>     1</td>      <th>                     </th>     <td> </td>
</tr>
<tr>
  <th>Covariance Type:</th>      <td>nonrobust</td>    <th>                     </th>     <td> </td>
</tr>
</table>
<table class="simpletable">
<tr>
      <td></td>         <th>coef</th>     <th>std err</th>      <th>t</th>      <th>P>|t|</th> <th>[95.0% Conf. Int.]</th>
</tr>
<tr>
  <th>Intercept</th> <td>-2871.0312</td> <td> 1071.132</td> <td>   -2.680</td> <td> 0.007</td> <td>-4971.519  -770.543</td>
</tr>
<tr>
  <th>GT</th>        <td>    1.9810</td> <td>    0.008</td> <td>  239.438</td> <td> 0.000</td> <td>    1.965     1.997</td>
</tr>
</table>
<table class="simpletable">
<tr>
  <th>Omnibus:</th>       <td>349.288</td> <th>  Durbin-Watson:     </th> <td>   1.241</td>
</tr>
<tr>
  <th>Prob(Omnibus):</th> <td> 0.000</td>  <th>  Jarque-Bera (JB):  </th> <td>5447.833</td>
</tr>
<tr>
  <th>Skew:</th>          <td>-0.083</td>  <th>  Prob(JB):          </th> <td>    0.00</td>
</tr>
<tr>
  <th>Kurtosis:</th>      <td>10.546</td>  <th>  Cond. No.          </th> <td>4.57e+05</td>
</tr>
</table>

In [4]:
outlier_test = regression.outlier_test()
outlier_test[outlier_test['bonf(p)'] < 0.01]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>student_resid</th>
      <th>unadj_p</th>
      <th>bonf(p)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>26</th>
      <td>-8.124228</td>
      <td>7.278342e-16</td>
      <td>1.670380e-12</td>
    </tr>
    <tr>
      <th>1095</th>
      <td>-7.520193</td>
      <td>7.802961e-14</td>
      <td>1.790779e-10</td>
    </tr>
    <tr>
      <th>1504</th>
      <td>5.578277</td>
      <td>2.715172e-08</td>
      <td>6.231320e-05</td>
    </tr>
    <tr>
      <th>2160</th>
      <td>-9.760283</td>
      <td>4.457029e-22</td>
      <td>1.022888e-18</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
df.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Built</th>
      <th>DW</th>
      <th>GT</th>
      <th>IMO</th>
      <th>Length</th>
      <th>NT</th>
      <th>TEU</th>
      <th>Width</th>
      <th>ship_MMSI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2063.000000</td>
      <td>2297.000000</td>
      <td>2300.000000</td>
      <td>2.337000e+03</td>
      <td>1427.000000</td>
      <td>1227.000000</td>
      <td>0.0</td>
      <td>1427.000000</td>
      <td>1.373000e+03</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1993.651478</td>
      <td>243039.587288</td>
      <td>124094.788696</td>
      <td>8.694882e+06</td>
      <td>302.402943</td>
      <td>77470.268134</td>
      <td>NaN</td>
      <td>53.839523</td>
      <td>4.248079e+08</td>
    </tr>
    <tr>
      <th>std</th>
      <td>16.260644</td>
      <td>74050.419225</td>
      <td>36655.910660</td>
      <td>1.013256e+06</td>
      <td>32.393112</td>
      <td>28316.981445</td>
      <td>NaN</td>
      <td>6.501928</td>
      <td>1.447234e+08</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1964.000000</td>
      <td>56631.000000</td>
      <td>41994.000000</td>
      <td>5.424770e+06</td>
      <td>245.000000</td>
      <td>21075.000000</td>
      <td>NaN</td>
      <td>18.000000</td>
      <td>2.050730e+08</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1975.000000</td>
      <td>159194.000000</td>
      <td>83939.750000</td>
      <td>7.377311e+06</td>
      <td>274.000000</td>
      <td>49804.000000</td>
      <td>NaN</td>
      <td>48.000000</td>
      <td>3.092870e+08</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2000.000000</td>
      <td>259471.000000</td>
      <td>126541.000000</td>
      <td>9.233210e+06</td>
      <td>318.000000</td>
      <td>90695.000000</td>
      <td>NaN</td>
      <td>58.000000</td>
      <td>4.190996e+08</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2009.000000</td>
      <td>305178.000000</td>
      <td>159807.750000</td>
      <td>9.446374e+06</td>
      <td>332.000000</td>
      <td>104753.000000</td>
      <td>NaN</td>
      <td>60.000000</td>
      <td>5.380063e+08</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2016.000000</td>
      <td>555051.000000</td>
      <td>275267.000000</td>
      <td>9.779604e+06</td>
      <td>693.000000</td>
      <td>162477.000000</td>
      <td>NaN</td>
      <td>78.000000</td>
      <td>7.102390e+08</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
outlier_test.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>student_resid</th>
      <th>unadj_p</th>
      <th>bonf(p)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2295.000000</td>
      <td>2.295000e+03</td>
      <td>2.295000e+03</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>-0.000050</td>
      <td>5.669512e-01</td>
      <td>9.965289e-01</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.002359</td>
      <td>3.029300e-01</td>
      <td>5.734897e-02</td>
    </tr>
    <tr>
      <th>min</th>
      <td>-9.760283</td>
      <td>4.457029e-22</td>
      <td>1.022888e-18</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>-0.567548</td>
      <td>3.210620e-01</td>
      <td>1.000000e+00</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>-0.099051</td>
      <td>6.138627e-01</td>
      <td>1.000000e+00</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.407202</td>
      <td>8.429418e-01</td>
      <td>1.000000e+00</td>
    </tr>
    <tr>
      <th>max</th>
      <td>5.578277</td>
      <td>9.999837e-01</td>
      <td>1.000000e+00</td>
    </tr>
  </tbody>
</table>
</div>